.idea/

www/jp/
vendor/
*.bin
savedata/*/
*.exe
*.lnk
*.bat
/docker/db-data
screenshots/*

# We don't need built files
erupe-ce
erupe
tools/loganalyzer/loganalyzer

# config is install dependent
config.json
.env

# Logs
logs/

# Deployment scripts
deploy.sh
